.notification {
  &__success {
    background-color: $light_blue;
    color: $white;
  }

  &__notice {
    background-color: $notice_yellow;
    color: $white;
  }

  &__alert {
    background-color: $alert_orange;
    color: $white;
  }
}