.logs_wrapper{
  @include wrapper;
  .upper-info{
    height: 80vh;
    width: 80vw;
    background-color: darkgreen;
    color: white;
    overflow-y: scroll;
    display: block;
    text-align: center;
    border: ridge 5px $maincolor;
    table {
      tr {
        display: block;
        display: flex;
        margin-right: 20px;
        .table-title{
          display: block;
          text-align: center;
          height: 50px;
          width: 100px;
          font-size: 20px;
          line-height: 50px;
          margin: 0px 30px;
        }
        .table-item{
          display: block;
          height: 50px;
          width: 100px;
          font-size: 15px;
          line-height: 50px;
          margin: 0px 30px;
        }
      }
    }
  }
  .bottom-info{
    height: 10vh;
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    padding: 15px 0px;
    .fas{
      width: 30px;
      color: deepskyblue;
      font-size: 30px;
      margin-left: 30px;
      text-align: center;
      line-height: 40px;
    }
  }
  .upper-content{
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .input-height{
      height: 60%;
      width: 30%;
      background-color: tomato;
    }
    .input-weight{
      height: 60%;
      width: 30%;
      background-color: lightgray;
    }
  }
  .input-form{
    height: 60%;
    width: 90%;
    .menu_columns{
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .input-name{
        width: auto;
        background-color: lightskyblue;
      }
      .show_cal{
        width: auto;
        background-color: maroon;
      }
      .show_protain{
        width: auto;
        background-color: mediumslateblue;
      }
      .show_fat{
        width: auto;
        background-color: midnightblue;
      }
      .show_carbohydrate{
        width: auto;
        background-color: mintcream;
      }
    }
  }
  .bottom_content {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn{
      height: 20px;
      width: 20px;
      background-color: coral;
      margin-left: 15px;
    }
  }
  @include bottom-info
}