.wrapper {
  .main_wrapper {
    .top-managements{
      height: 20rem;
      width: 95%;
      background-color: aquamarine;
      box-shadow: 0.1rem 0.5rem 0.1rem 0.1rem slategray;
      display: flex;
      h1 {
        display: block;
        color: #ffffff;
        font-size: 4.5rem;
        width: 100%;
        line-height: 5rem;  
      }
      &__left-contents{
        width: 50%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
      }
      &__right-contents{
        width: 50%;
        text-align: center;
        &--value {
          @include h3;
          @include p;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .middle-managements{
      height: calc(100% - 300px);
      width: 100%;
      background-color: white;
      display: flex;
      justify-items: center;
      text-align: center;
      &__left-contents{
        padding: 0.5rem;
        height: 100%;
        width: 30%;
        &--main-title{
          height: 20%;
          margin: 0 0 2.5rem 0;
          background-color: deepskyblue;
          .main-title {
            height: 35%;
            @include h2;
          }
          .total-value {
            @include h3;
            @include p;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &--title{
          height: 20%;
          margin-bottom: 2.5rem;
          background-color: deepskyblue;
          .titles {
            height: 40%;
            @include h4;
          }
          .value {
            @include h6;
            @include p;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
          }
        }
      }
      &__right-contents {
        width: 70%;
        height: 100%;
        .upper-info{
          height: 100%;
          width: 100%;
          background-color: darkgreen;
          color: white;
          overflow-y: auto;
          display: block;
          text-align: center;
          table {
            width: 100%;
            height: 100%;
            tr {
              display: block;
              display: flex;
              .table-title{
                display: block;
                text-align: center;
                height: 5rem;
                width: 20%;
                font-size: 1.5rem;
                line-height: 5rem;
              }
              .table-item{
                display: block;
                height: 5rem;
                width: 20%;
                font-size: 1.5rem;
                line-height: 5rem;
                overflow-x: auto;
              }
            }
          }
        }
      }
    }
  }
}