.wrapper {
  height: 100vh;
  width: 100vw;
  background: image-url('image.jpg');  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .upper-info{
    height: 80vh;
    width: 80vw;
    background-color: darkgreen;
    color: white;
    overflow: scroll;
    display: block;
    text-align: center;
    border: ridge 30px brown;
    table {
      tr {
        display: block;
        display: flex;
        margin-right: 20px;
        .table-title{
          display: block;
          text-align: center;
          height: 50px;
          width: 100px;
          font-size: 20px;
          font-family: 'Lucida Sans Unicode';
          line-height: 50px;
          margin: 0px 30px;
        }
        .table-item{
          display: block;
          height: 50px;
          width: 100px;
          font-size: 15px;
          font-family: 'Lucida Sans Unicode';
          line-height: 50px;
          margin: 0px 30px;
        }
      }
    }
  }
  .calculate_box {
    width: 100vw;
    height: 20vh;
    background-color: yellow;
  }
  .bottom-info{
    height: 10vh;
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    padding: 15px 0px;
    .fas{
      width: 30px;
      color: deepskyblue;
      font-size: 30px;
      margin-left: 30px;
      text-align: center;
      line-height: 40px;
    }
  }
  .upper_menu_content{
    height: 5vh;
    width: 100vw;
    display: flex;
    p {
      display: block;
      padding: 1vh 1vh 1vh 12vh;
      line-height: 3vh;
    }
    .menu_name{
      display: block;
      height: 3vh;
      width: 20%;
      margin: 1vh 0px;
    }
  }
  .input_form{
    height: 60vh;
    width: 80vw;
    margin: 0 auto; 
    &__column{
      height: 7vh;
      display: flex;
      &__label{
        width: 2.5vw;
        i {
          display: block;
          margin: 5px 0.5vw;
          color: coral;
        }
      }
      &__input_name{
        width: auto;
        background-color: orange;
      }
      &__total_mass{
        width: 13vw;
        background-color: yellow;
      }
      &__protain{
        width: 13vw;
        background-color: yellowgreen;
      }
      &__fat{
        width: 13vw;
        background-color: bisque;
      }
      &__carbohydrate{
        width: 13vw;
        background-color: chocolate;
      }
      &__box{
        display: flex;
        width: 52vw;
        text-align: center;
        p {
          margin-top: 1vh;
        }
      }
      .label {
        display: flex;
        justify-content: center;
        margin: 0.5vh 0vh;
        height: 3vh;
        p {
          line-height: 3vh;
          padding: 0vh 1vh 0vh 0vh;
        }
        .mass {
          display: block;
        }
      }
    }
  }
  .bottom_menu_content {
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn{
      display: block;
      height: 50px;
      width: 150px;
      margin: 0 10px;
      text-align: center;
      background-color: royalblue;
      color: white;
      font-size: 20px;
      line-height: 45px;
      border: groove 2px rgb(118, 118, 118);
    }
  }
}