@media (max-width: 768px) {
  .wrapper {
    height: 100vh;
    width: 100vw;
    font-size: 62.5vw;
    .side-management{
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      .fas {
        display: block;
        font-size: 2rem;
        color: $maincolor;
        position: relative;
      }
      .far {
        display: block;
        font-size: 2rem;
        color: $maincolor;
        position: relative;
      }
    }
    .main_wrapper {
      @include wrapper;
      width: 100%;
      height: 95%;
    }
    .top_wrapper {
      @include wrapper;
      width: 100%;
      height: 95%;
      background: image-url('IMG_20180505_123036.jpg');
      background-size: 110% 100%;
      &__header {
        font-size: 5rem;
        left: 25%;
        top: 5%;
      }
      &__content {
        font-size: 3rem;
        text-align: center;
        left: 10%;
        bottom: 10%;
      }
      .pc {
        display: none;
      }
      .sp {
        display: block;
      }
    }
  }
}

@media (min-width: 769px) {
  .wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    .side-management{
      width: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      .fas {
        display: block;
        font-size: 4rem;
        color: $maincolor;
        position: relative;
      }
      .far {
        display: block;
        font-size: 4rem;
        color: $maincolor;
        position: relative;
      }
    }
    .main_wrapper {
      @include wrapper;
      width: 95%;
      .top-manegements{
        h1 {
          font-size: 2.5em;
        }
      }
    }
    .top_wrapper {
      @include wrapper;
      width: 95%;
      padding: 5px;
      background: image-url('IMG_20180505_123036.jpg');
      background-size: cover;
      &__header {
        font-size: 3rem;
        left: 50px;
        top: 20px; 
      }
      &__content {
        width: 200px;
        font-size: 5rem;
        color: deepskyblue;
        left: 50vw;
        top: 57vh;
        h1 {
          display: flex;
          position: relative;
        }
        span {
          display: block;
          position: absolute;
          line-height: 80vh;
          height: 10%;
          width: 30px;
          left: 0;
          top: 0;
          transform-origin: top center ;
        }
      }
      .char1 { transform: rotate(-20deg); }
      .char2 { transform: rotate(-30deg); }
      .char3 { transform: rotate(-40deg); }
      .char4 { transform: rotate(-47deg); }
      .char5 { transform: rotate(-60deg); }
      .char6 { transform: rotate(-70deg); }
      .char7 { transform: rotate(-80deg); }
      .char8 { transform: rotate(-87deg); }
      .sp {
        display: none;
      }
      .pc {
        display: block;
      }
    }
  }
}