.wrapper {
  .side-management {
    .container {
      width: 40px;
      height: 40px;
      border: 2px solid deepskyblue;
      position: relative;
      transition: transform 0.2s linear 0s;
    }
    .inner {
      width: 30px;
      height: 30px;
      border: 2px solid deepskyblue;
      font-size: 0px;
      position: absolute;
      left: 3px;
      top: 3px;
      transition: transform 0.2s linear 0s;
    }
    #target:hover {
      transform:rotate(90deg);
    }
    #target_2:hover {
      transform:rotate(-90deg);
    }
  }
  .top_wrapper {
    background: image-url('IMG_20180505_123036.jpg');
    background-size: contain;
    position: relative;
    &__header {
      font-size: 5rem;
      color: #fff;
      position: absolute;
      right: 100px;
      bottom: 150px; 
    }
    &__content {
      font-size: 3rem;
      color: #fff;
      position: absolute;
      right: 10px;
      bottom: 50px;
    }
  }
}