.wrapper {
  .side-management {
    .container {
      width: 60px;
      height: 60px;
      border: 2px solid deepskyblue;
      position: relative;
      transition: transform 0.2s linear 0s;
    }
    .inner {
      width: 40px;
      height: 40px;
      border: 2px solid deepskyblue;
      position: absolute;
      left: 10px;
      top: 10px;
      transition: transform 0.2s linear 0s;
    }
    #target:hover {
      transform:rotate(90deg);
    }
    #target_2:hover {
      transform:rotate(-90deg);
    }
  }
}