.user_wrapper{
  height: 100vh;
  width: 100vw;
  padding: 5vh 5vw;
  header {
    display: block;
    height: 20%;
    font-size: 4rem;
    text-align: center;
    position: relative;
    h2 {
      margin: 20px;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
  form {
    height: 75%;
    background-color: #ebeef1;
    display: flex;
    .left_box {
      height: 100%;
      width: 50%;
      padding: 5rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .field {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .log-in {
          width: 100%;
          margin: 5% 0;
          font-size: 2rem;
          line-height: 2.5rem;
        }
        input {
          width: 100%;
          display: inline-block;
          height: 4rem;
          width: 25rem;
        }
        &-box {
          height: 100%;
          margin-left: 10%;
          margin: 2% 0;
          .password {
            display: block;
            text-align: end;
            font-size: 2rem;
            line-height: 2.5rem;
          }
          em {
            display: block;
            text-align: end;
            font-size: 1.5rem;
          }
        }
      }
    }
    .border-line {
      height: 80%;
      margin: 7% 0;
      border-left: 1px solid #000;
    }
    .right_box {
      height: 100%;
      width: 50%;
      padding: 8.5rem 4rem;
      .check_field {
        height: 10%;
        width: 70%;
        text-align: center;
        margin: 5% auto 0 auto;
      }
      .actions {
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        #login {
          display: inline-block;
          height: 5rem;
          width: 22rem;
          color: white;
          background-color: $maincolor;
          font-size: 2rem;
        }
      }
      .bottom_field {
        height: 55%;
        width: 100%;
        background-color: #ebeef1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        &_label{
          display: inline-block;
          width: 20rem;
          margin: 2rem 0;
          background-color: $maincolor;
          color: white;
          text-align: center;
          line-height: 5rem;
        }
        #easy_login {
          background-color: coral;
        }
      }
    }
  }
  .edit_user {
    .left_box {
      padding: 3rem 2rem;
      margin: 0 auto;
      .field {
        .edit {
          width: 100%;
          font-size: 2rem;
          text-align: left;
          margin-bottom: 3%;
        }
        input {
          height: 3rem;
        }
        #user_ideal_protain_rate {
          margin-bottom: 3%;
        }
        #user_ideal_fat_rate {
          margin-bottom: 3%;
        }
      }
    }
    .right_box {
      padding: 3rem 2rem;
      .field {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto 5%;
        font-size: 1.5rem;
        .edit_label{
          display: flex;
          i {
            display: block;
            margin-left: 2%;
          }
        }
        em {
          display: block;
          margin-top: 1%;
        }
        input {
          height: 3rem;
          margin-top: 3%;
        }
      }
      .actions {
        height: 20%;
        input {
          display: inline-block;
          height: 5rem;
          width: 13rem;
          color: white;
          background: $maincolor;
        }
      }
      .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
        .red-btn {
          display: block;
          text-align: center;
          height: 5rem;
          width: 13rem;
          color: white;
          line-height: 5rem;
          background-color: red;
          margin-right: 8rem;
        }
        .btn {
          display: block;
          text-align: center;
          line-height: 5rem;
          height: 5rem;
          width: 13rem;
          background-color: $maincolor;
          color: white;
        }
      }
    }
  }
}