.user_wrapper{
  height: 100vh;
  width: 100vw;
  background: image-url('image.jpg'); 
  align-items: center;
  padding: 5vh 5vw;
  header {
    display: block;
    height: 10%;
    font-size: 4rem;
    text-align: center;
    position: relative;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .field {
    height: 50%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .label {
      display: block;
      text-align: end;
      margin-bottom: 1rem; 
      margin: 3% 0;
      font-size: 2rem;
      line-height: 2.5rem;
    }
    .log-in {
      display: block;
      text-align: end;
      margin-bottom: 1rem; 
      margin: 3% 0;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
    &-box {
      height: 100%;
      margin-left: 10%;
      margin: 2% 0;
      .password {
        display: block;
        text-align: end;
        font-size: 2rem;
        line-height: 2.5rem;
      }
      em {
        display: block;
        text-align: end;
        font-size: 1.5rem;
      }
    }
    input {
      display: block;
      height: 3rem;
      width: 20rem;
      margin: 3% 0 3% 3%;
    }
  }
  .check_field {
    width: 60%;
    text-align: center;
    margin: 5% auto 0 auto;
  }
  .actions {
    height: 10%;
    width: 100%;
    margin: 0 auto;
    input {
      display: block;
      height: 5rem;
      width: 10rem;
      margin: 5% auto;
      color: white;
      background-color: $maincolor;
      font-size: 2rem;
    }
  }
  .bottom_field {
    width: 32rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    &_label{
      display: block;
      height: 3rem;
      width: 14rem;
      background-color: $maincolor;
      color: white;
      text-align: center;
      line-height: 3rem;
      border: inset 2px rgb(118, 118, 118);
    }
  }
}