.user_wrapper{
  height: 100vh;
  width: 100vw;
  align-items: center;
  padding: 5vh 5vw;
  header {
    display: block;
    height: 15%;
    font-size: 4rem;
    text-align: center;
    position: relative;
    h2 {
      margin: 20px;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .new_user {
    height: 65%;
    background-color: #ebeef1;
    display: flex;
    .left_box {
      height: 100%;
      width: 50%;
      padding: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .field {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        .log-in {
          display: inline-block;
          margin: 5% 0;
          font-size: 2rem;
          line-height: 2.5rem;
        }
        &-box {
          height: 100%;
          margin-left: 10%;
          margin: 2% 0;
          .password {
            display: block;
            text-align: end;
            font-size: 2rem;
            line-height: 2.5rem;
          }
          em {
            display: block;
            text-align: end;
            font-size: 1.5rem;
          }
        }
        input {
          display: inline-block;
          height: 4rem;
          width: 25rem;
        }
      }
    }
    .right_box {
      height: 100%;
      width: 50%;
      padding: 8.5rem 4rem;
      .check_field {
        height: 10%;
        width: 60%;
        text-align: center;
        margin: 5% auto 0 auto;
      }
      .actions {
        height: 30%;
        width: 100%;
        #login {
          display: inline-block;
          margin: 0 12% 0;
          height: 5rem;
          width: 23rem;
          color: white;
          background-color: $maincolor;
          font-size: 2rem;
        }
      }
      .bottom_field {
        height: 55%;
        width: 100%;
        background-color: #ebeef1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        &_label{
          display: inline-block;
          height: 7rem;
          width: 20rem;
          margin: 2rem 0;
          background-color: $maincolor;
          color: white;
          text-align: center;
          line-height: 3rem;
        }
        #easy_login {
          background-color: coral;
        }
      }
    }
  }
  .edit_label{
    flex-direction: row;
    text-align: center;
    margin: auto 0;
    label{
      font-size: 1.5rem;
      display: block;
      margin-bottom: 1rem;
    }
    i {
      display: block;
    }
    em {
      display: block;
    }
  }
  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    .red-btn {
      display: block;
      height: 5rem;
      width: 12rem;
      color: white;
      line-height: 5rem;
      background-color: red;
      border: inset 2px rgb(118, 118, 118);
      margin-right: 10rem;
    }
    .btn {
      display: block;
      text-align: center;
      line-height: 5rem;
      height: 5rem;
      width: 12rem;
      background-color: $maincolor;
      color: white;
      border: inset 2px rgb(118, 118, 118);
    }
  }
}