*{
  box-sizing: border-box;
  text-decoration: none;
}

footer {
  height: 1.2em;
  width: 100vw;
  background-color: mediumslateblue;
  font-size: 15px;
  color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
}