$maincolor : rgba(0, 191, 255, 0.8);
$white: rgba(255, 255, 255, 0.7);
$cwhite: rgba(255, 255, 255, 1);
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
$notice_yellow: #ffd700;
$black: rgba(0, 0, 0, 0.9);
$black2: rgba(0, 0, 0, 0.3);
$black3: rgba(0, 0, 0, 0.2);
$black4: rgba(0, 0, 0, 0.1);
$green: rgba(108, 187, 90, 0.7);
$green1: rgba(108, 187, 90, 0.4);
$green2: rgba(108, 187, 90, 0.2);
