.upper-content
  .input_height Height
  %p 175
  .input_weight Weight
  %p 80

.input-form
  .menu_columns
    .input_name
      豚の角煮
    .show_cal
      1600 kcal
    .show_Protain
      600 kcal
    .show_Fat
      400 kcal
    .show_Carbohydrate
      600 kcal
  .menu_columns
    .input_name
      味噌汁
    .show_cal
      300 kcal
    .show_Protain
      10 kcal
    .show_Fat
      150 kcal
    .show_Carbohydrate
      140 kcal
  .menu_columns
    .input_name
      ご飯
    .show_cal
      400 kcal
    .show_Protain
      1 kcal
    .show_Fat
      49 kcal
    .show_Carbohydrate
      350 kcal
    
.bottom-content
  = link_to "Logs Create", logs_path, method: :post, class: "btn"
  = link_to "Cancel", logs_path, class: "btn"
