.wrapper
  .side-management
    .container#target  
      = link_to '#', user_session_path, class: 'inner', id: 'target_2'
  .top_wrapper
    .top_wrapper__header.pc
      Let's Enjoy Calory controlling <br>
      <br>
      To ideal yourself ... 
    .top_wrapper__content.pc
      Calmania
      
    .top_wrapper__header.sp
      Calmania
    .top_wrapper__content.sp
      Let's Enjoy Calory controlling <br>
      To ideal yourself ... 