.wrapper
  .side-management
    .container#target  
      = link_to '#', user_session_path, class: 'inner', id: 'target_2'
  .top_wrapper
    .top_wrapper__header.pc
      Let's Enjoy Calory controlling <br>
      <br>
      To ideal yourself ... 
    .top_wrapper__content.pc
      .char1
        a
      .char2
        i
      .char3 
        n
      .char4
        a
      .char5
        m
      .char6
        l
      .char7
        a
      .char8
        C
    .top_wrapper__header.sp
      Calmania
    .top_wrapper__content.sp
      Let's Enjoy Calory controlling <br>
      To ideal yourself ... 