.wrapper
  .side-management
    .container#target  
      = link_to '#', user_session_path, class: 'inner', id: 'target_2'
  .top_wrapper
    .top_wrapper__header
      Calmania
    .top_wrapper__content
      Let's Enjoy Calory controlling <br>
      To ideal yourserf ...