.warpper
  .side-management
    .container#target  
    %button.inner#target_2
      = link_to user_session_path
  .main_wrapper
    .main_wrapper__header
      Calmania
    .main_wrapper__content
      Let's Enjoy Calory controlling
      To ideal yourserf ...