.wrapper
  .side-management
    .container#target  
      = link_to '#', user_session_path, class: 'inner', id: 'target_2'
  .top_wrapper
    .top_wrapper__header.pc
      Let's Enjoy Calory controlling <br>
      <br>
      To ideal yourself ... 
    .top_wrapper__content.pc
      %h1
        %span.char1 C
        %span.char2 a
        %span.char3 l
        %span.char4 m
        %span.char5 a
        %span.char6 n
        %span.char7 i
        %span.char8 a
      
    .top_wrapper__header.sp
      Calmania
    .top_wrapper__content.sp
      Let's Enjoy Calory controlling <br>
      To ideal yourself ... 