@mixin graph {
  .left_graph{
    height: 100%;
    width: 50%;
    margin-right: 10px;
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .right_graph{
    height: 100%;
    width: 50%;
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

@mixin wrapper {
  height: 100vh;
  width: 100vw;
  background: image-url('image.jpg');  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
}

@mixin cal-box {
  width: 25%;
  background-color: $maincolor;
  .input_form_warpper {
    height: 70%;
    display: flex;
    position: relative;
    h3 {
      width: 80%;
      font-size: 30px;
    }
    p {
      position: absolute;
      right: 0px;
      bottom: 10px;
      font-size: 15px;
    }
  }
}

@mixin bottom-info {
  .bottom-info{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-box {
      width: 60%;
      height: 60%;
      margin-left: 20%;
      display: flex;
      .search-input {
        height: 100%;
        width: 70%;
        margin-right: 10px;
      }
      .btn{
        font-size: 20px;
        background-color: $maincolor;
        color: white;
      }
    }
    .icon-box{
      display: flex;
      .fas{
        font-size: 30px;
        line-height: 40px;
        color: deepskyblue;
        margin-left: 10px;
      }
    }
  }
}