@mixin graph {
  .left_graph{
    height: 100%;
    width: 50%;
    margin-right: 1rem;
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .right_graph{
    height: 100%;
    width: 50%;
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

@mixin wrapper {
  height: 100vh;
  width: 100vw;
  background: image-url('image.jpg');  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
}

@mixin cal-box {
  width: 25%;
  background-color: $maincolor;
  .input_form_warpper {
    height: 70%;
    display: flex;
    position: relative;
    h3 {
      width: 70%;
      font-size: 3rem;
      color: #ffffff;
      line-height: 5rem;
      text-align: end;
    }
    p {
      position: absolute;
      color: #ffffff;
      right: 0px;
      bottom: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

@mixin bottom-info {
  .bottom-info{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-box {
      width: 60%;
      height: 60%;
      margin-left: 20%;
      display: flex;
      .search-input {
        height: 100%;
        width: 70%;
        margin-right: 1rem;
      }
    }
    .icon-box{
      height: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      a {
        margin-left: 1rem;
      }
      .fas{
        display: block;
        font-size: 3rem;
        color: deepskyblue;
      }     
    }
  }
}
@mixin cal_area {
  width: 25%;
  background-color: $maincolor;
  color: white;
  h2 {
    display: block;
    font-size: 1.5rem;
    height: 30%;
    line-height: 2rem;
    text-align: center;
  }
  .label {
    display: flex;
    height: 70%;
    h3 {
      width: 60%;
      display: block;
      font-size: 4rem;
      line-height: 7rem;
    }
    p {
      display: block;
      font-size: 1.5rem;
      line-height: 8rem;
    }
  }
}

@mixin bottom_cal_area {
  width: 25%;
  height: 100%;
  h2 {
    color: black;
    display: block;
    height: 30%;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
  .label{
    display: flex;
    height: 70%;
    width: 100%;
    text-align: center;
    h3 {
      color: black;
      display: block;
      width: 75%;
      font-size: 2.5rem;
      line-height: 4.5rem;
    }
    p {
      display: block;
      width: 25%;
      font-size: 1rem;
      line-height: 7rem;
    }
  }
}

@mixin h2 {
  h2 {
    display: block;
    line-height: 3rem;
    font-size: 2rem;
    color: white;
  }
}

@mixin h3 {
  h3 {
    display: block;
    color: #ffffff;
    font-size: 3rem;
    line-height: 5rem;
    margin-right: 1rem;
  }
}

@mixin h4 {
  h4 {
    display: block;
    font-size: 1.8rem;
    color: #ffffff;
    line-height: 3rem;
  }
}

@mixin h6 {
  h6 {
    display: block;
    font-size: 2.5rem;
    color: #ffffff;
    line-height: 3rem;
    margin-right: 1rem;
  }
}

@mixin p {
  display: block;
  font-size: 2.5rem;
  color: #ffffff;
  line-height: 3rem;
}

@mixin pop {
  display: none;
  width: 12rem;
  padding: 1.6rem;
  border-radius: 0.5rem;
  background: $maincolor;
  color: #fff;
  font-weight: bold;
}

@mixin after {
  position: absolute;
  width: 0;
  height: 0;
  left: 4rem;
  top: -2rem;
  margin-left: 1rem;
  border: solid transparent;
  transform: rotate(180deg);
  border-color: rgba(51, 204, 153, 0);
  border-top-color: $maincolor;
  border-width: 1rem;
  pointer-events: none;
  content: " ";
}