.top__managements
  .top__managements__left-contents
    .top__managements__left-contents--title
      %h1 BMI
    .top__managements__right-contents--value
      
  .top__managements__right-contents
    .top__managements__right-contents-title
      %h1 BFP
    .top__managements__right-contents--value

.middle__managements
  .middle__managements__left-contents
    .middle__managements__left-contents--main-title
      .main-title
        %h2 Total Calory
      .total-value

    .middle__managements__left-contents--title
      .titles
        %h4 Total Protain
      .value

    .middle__managements__left-contents--title
      .titles
        %h4 Total Fat
      .value

    .middle__managements__left-contents--title
      .titles
        %h4 Total Carbohydrate
      .value

  .middle__managements__right-contents

.bottom__managements
  .bottom__managements__left-content
    .bottom__managements__left-content--btn
      %p Graph
  .bottom__managements__right-content
    .bottom__managements__right-content-btn
      %p Logs
